*, :after, :before {
  box-sizing: border-box;
}
a{
	color: #010101;
	text-decoration: none;
}
a:hover{
	color: grey;
}
body{
	background-color: #f3f3f3;
	color: #010101;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
  line-height: 1.4em;
  letter-spacing: .08em;
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  display: block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
ul{
	list-style: none;
	margin-left: -3.2rem;
  margin-top: 1.5rem;		
}
ul li{
	display: inline-block;
	font-size: 1rem;
	margin: auto;
	padding-left: .4rem;

}
.cv-wrapper{
	position: relative;
	padding: 0 20px;
}
 /*--- HEADER ---*/
#cvHeader{
	position: relative;
}
.cv-head-inner {
  position: static;
  padding-top: 20px;
  /*border-bottom-width: 1px;
  border-bottom-style: solid;*/
}
#cvFooter, .cv-head-inner, .section.brd-btm {
  padding-bottom: 20px;
}
.cv-container {
  width: 100%;
  margin: 0 auto;
}
.cv-head-row{
	display: table;
	width: 100%;
}
.cv-head-col {
  display: table-cell;
  vertical-align: middle;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align: right;
}
.cv-logo {
  font-family: 'Pacifico', handwriting;
  font-size: 26px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}
.cv-logo img, .cv-logo svg {
  max-height: 45px;		
}
.cv-logo img, .cv-logo span, .cv-logo svg {
  display: inline-block;
  vertical-align: middle;
}
.cv-side-box-on .cv-container-sm {
  margin-left: 330px;
}
.cv-container-sm{
	margin-left: 355px;
}
/*--- /HEADER ---*/
/*--- SIDEBAR ---*/
aside{
	width: 2.9rem;
	height: 3.94rem;
}
.card{
	margin-bottom: 30px;
  box-shadow: -4px 7px 15px 1px rgb(0 0 0 / 20%);
	margin: auto;
	border-radius: 0;
	border-radius: none !important;
  background-color: #c0e3e7;
  text-align: center;
  width: 290px;
  height: 394px;
  border: none;
}
.text-upper{
	font-size: 1.625em;
	margin-bottom: .688em;
	text-transform: capitalize;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: .08em;
}
.title-lg{
	font-size: 30px;
	margin-bottom: 25px;
}
.cv-image-card{
	padding: 0;
}
.card-img-top{    
	height: 195px;
  width: 195px;
  /*padding: 0 20px;*/
  margin: auto;
  margin-top: 20px;
  display: block;
  border-radius: 50%;
  background: lightsteelblue;
}
/*--- /SIDEBAR*/
/*---MAIN SECTION ---*/
.main-section{
	background: #ffffff;
	border: thin solid #e1e1e1;
	opacity: 1;
	visibility: visible;
	backface-visibility: hidden;
	transform: translate(0,0);
	transition: transform .3s ease-out .1s,opacity .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
	padding: 40px 20px;
	padding-bottom: 1px;
	margin-bottom: 20px;
}
section{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.title-thin {
  font-size: 1.35em;
  font-weight: 400;
  margin-bottom: 1.571em;
}
.clear-mrg>:last-child {
  margin-bottom: 0!important;
}
dl{
	margin-top: 0;
	font-size:.9em;
}
dt{
	letter-spacing: .01em;
}
.dt{
	font-size: 1rem;
  padding-top: 2px;
}
.dl-horizontal dt {
  float: left;
  width: 100px;
  overflow: hidden;
  clear: left;
}
.styled-list{
  padding-left: 1.7em;
  line-height: 1.1em;
  font-weight: 700;
  list-style: none;
}
.styled-list ol, ul {
  margin: 0 0 22px;
  padding: 0 0 0 1.6em;
}
.styled-list li {
	position: relative;
  margin-bottom: .9em;
}
.styled-list li:before {
  left: -2.7em;
}
.styled-list li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: inherit;
  top: 0;
  left: -1.6em;
  position: absolute;
}
/*--- /MAIN SECTION ---*/